{% extends 'base.html.twig' %}

{% block title %}Add Participant{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger mt-5">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-secondary mt-5">Retour</a>
            <h1 class="mt-2">Ajouter un participant à {{ event.name }}</h1>
            <hr>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
